@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap');

* {
  box-sizing: border-box;
}

.App {
  text-align: left;
  background: linear-gradient(269.21deg, #EDF5F6 9.61%, #AFDCE2 192.13%);
  height: 1046px;
}

.bg-blue {
  background-color: #074C93;
  color: #fff;
}

.App-header {
  min-height: 76px;
  justify-content: center;
  margin: 0 156px;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}
.d-flex-row {
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
}

.navbar::before {
  content: "";
  position: absolute;
  top: 50%;
  height: 13px;
  border-left: 1px solid #AFDCE2;
  left: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 13px;
  border-left: 1px solid #AFDCE2;
  right: 0px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navlink {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  display: inline-block;
  padding: 21px 0px;
  position: relative;
  border-bottom: 3px solid transparent;
}

.navlink:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 3px solid #fff;
  transition: all .2s ease-in-out;
 cursor: default;
}

.user-name {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  display: inline-block;
  padding: 21px 0px;
  position: relative;
  border-bottom: 3px solid transparent;
}

.user-name:hover {
  text-decoration: none;
  color: #fff;
}

.user-name span:first-child {
  font-size: 16px;
  color: #074C93;
  line-height: 25px;
  font-weight: 500;
  width: 26px;
  height: 26px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  background: linear-gradient(338.13deg, #FFFBD8 0%, #FDDAE0 100.5%);
  text-align: center;
  text-transform: uppercase;
  margin-right: 24px;
}


/*overview*/

.hr {
  margin: 0;
  border: 1px solid black;
}

.overview {
  height: 777px;
  width: 314px;
  background-color: #fff;
  margin-top: 46px;
  float: right;
  padding-left: 26px;
  padding-right: 26px;
  font-family: 'Work Sans', sans-serif;
}

.overview-title {
  font-weight: bold;
  margin-top: 24px;
  height: 24px;
  margin-bottom: 27px;
  letter-spacing: 1px;
}

.overview-tile-title {
  font-size: 14px;
  font-weight: bold;
  height: 18px;
  margin-bottom: 22px;
}

.overview-tile-heading {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
  height: 14px;
}

.overview-tile-content {
  display: inline-block;
  height: 13px;
  font-weight: 500;
  font-size: 12px;
}

.bcd-bar {
  height: 8px;
  margin-top: 18px;
}

.overview-tile-text {
  margin-top: 22px;
  height: 31px;
  font-size: 12px;
}

.overview-tile-link {

  & > a {
    color: #074C93;
    font-size: 13px;
    &:hover {
      text-decoration: none;
    }
  }
  
  margin-top: 21px;
  height: 18px;
  font-weight: 500;
  margin-bottom: 27px;
}

.left-width {
  width: 158px;
}

.right-width {
  width: 104px;
}

/*Spending Tiles*/


.header-tile {
  background-color: #fff;
  width: 732px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  padding: 20px 25px;
  box-sizing: content-box;
}

.header-tile-box {
  width: 128px;
  height: 65px;
}

.welcome {
  height: 17px;
  font-size: 12px;
}

.first-name {
  height: 19px;
  margin-top: 5px;
  font-size: 20px;
  font-weight: inherit;
}

.date {
  height: 14px;
  margin-top: 9px;
  font-weight: normal;
  font-size: 12px;
}

.savings-title {
  height: 17px;
  font-size: 12px;
}

.savings-amount {
  margin-top: 5px;
  height: 40px;
  color: green;
  font-weight: 300;
  font-size: 40px;
  line-height: 1;
}

.action {
  font-weight: normal;
  font-size: 12px;
}

.gear-icon {
  height: 19px;
  margin-right: 25px;
}

.tile-row {
  height: 113px;
  background-color: #fff;
  margin-top: 13px;
  font-family: 'Work Sans', sans-serif;
}

.tile-icon {
  margin-top: 26px;
  height: 14px;
}

.tile-heading {
  margin-top: 26px;
  height: 14px;
  font-size: 12px;
  font-weight: 600;
}

.tile-amount {
  font-size: 40px;
  font-weight: 300;
  height: 39px;
  margin-top: 7px;
}

.tile-firstName {
  margin-top: 26px;
  height: 14px;
  font-size: 12px;
}

.orange {
  color: orange;
  font-weight: 400;
}

.blue {
  color: skyblue;
  font-weight: 400;
}

.red {
  color: red;
  font-weight: 400;
}

.tile-info {
  margin-top: 7px;
  font-size: 14px;
  font-weight: 500;
}

.time {
  color: red;
  float: right;
  margin-top: 20px;
  font-size: 12px;
}

.tile-action {
  float: right;
  margin-top: 22px;
  color: #074C93;
  border: 3px solid #074C93;
  border-radius: 50px;
  height: 35px;
  width: 116px;
  font-size: 12px;
  clear: both;
  background-color: #fff;
  font-weight: 500;

  &:hover {
    color: #fff;
    background-color: #074C93;
  }

}

.more {
  height: 44px;
  margin-left: 390px;
  border: 3px solid #074C93;
  border-radius: 50px;
  color: #fff;
  background-color: #074C93;
  width: 130px;
  font-family: 'Work Sans', sans-serif;
}

/*Footer*/

.bcd-footer {


    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 99;


    background: #F2F8F9;
    padding: 30px 0px;


}

.bcd-footer-item {
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  color: #6B6B6B;
  padding: 0px 17px;
  font-family: 'Work Sans', sans-serif;
}

.bcd-footer-box {
  padding: 0 75px;
}
